# ====================================================================
# IDE & SYSTEM (Śmieci systemowe i edytorów)
# ====================================================================
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.DS_Store
Thumbs.db
desktop.ini

# ====================================================================
# BACKEND - JAVA & MAVEN (Dla wszystkich modułów: app, iam, deputy, itd.)
# ====================================================================
# Ignoruj folder target we wszystkich podmodułach naraz
**/target/
**/build/
*.log
*.sh
*.bat

# Maven wrapper
**/mvnw
**/mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

# ====================================================================
# FRONTEND - NODE.JS (React / Vue / Angular)
# ====================================================================
**/node_modules/
**/dist/
**/build/
**/.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# ====================================================================
# INFRASTRUKTURA & DOCKER
# ====================================================================
# BARDZO WAŻNE: Ignoruj fizyczne dane z baz danych montowane do wolumenów
**/postgres_data/
**/keycloak_data/

# Plik ze zmiennymi środowiskowymi (hasła do Keycloaka/Bazy)
.env
.env.local

# ====================================================================
# INNE
# ====================================================================
temp/
tmp/